pandas==2.2.2
numpy==1.26.4
nltk==3.9.1
googletrans==4.0.0rc1
sklearn-pandas==2.2.0
tensorflow==2.17.1
tensorflow-datasets==4.9.7
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.13.1
tensorflow-probability==0.24.0
matplotlib==3.8.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.1
imbalanced-learn==0.12.4
scikit-learn==1.5.2
flask==3.1.0
keras==3.7.0